<div>
  <mat-card class="w-100">
    <mat-card-header class="d-flex justify-content-around mb-3">
      <mat-card-title> Adicionar Usuário </mat-card-title>
      <button
        routerLink="/users"
        mat-flat-button
        color="accent"
        [mat-dialog-close]
      >
        < Voltar para página anterior
      </button>
    </mat-card-header>
    <mat-card-content class="d-flex justify-content-around">
      <form [formGroup]="addUserForm" class="">
        <div class="d-flex justify-content-between">
          <mat-form-field appearance="outline">
            <mat-label>Nome</mat-label>
            <input matInput formControlName="name" name="name" />
            <mat-error>
              {{addUserForm.controls['name'].errors?.['required'] && getErrorMessage('required')}}
              {{addUserForm.controls['name'].errors?.['minLenght'] &&  getErrorMessage('minLenght') }}
              {{addUserForm.controls['name'].errors?.['maxLenght'] &&  getErrorMessage('maxLenght') }}
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>E-mail</mat-label>
            <input matInput formControlName="email" name="email" />
            <mat-error>
              {{addUserForm.controls['email'].errors?.['required'] && getErrorMessage('required')}}
              {{addUserForm.controls['email'].errors?.['email'] &&  getErrorMessage('email') }}
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Senha</mat-label>
            <input matInput formControlName="password" name="password" />
            <mat-error>
              {{addUserForm.controls['password'].errors?.['required'] && getErrorMessage('required')}}
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Tipo: </mat-label>
            <mat-select formControlName="type" matNativeControl required>
              <mat-option *ngFor="let type of userTypes" [value]="type">
                {{ type }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="d-flex mx-6 justify-content-between">
          <mat-form-field appearance="outline">
            <mat-label>Cargo: </mat-label>
            <mat-select formControlName="job" matNativeControl required>
              <mat-option *ngFor="let job of jobOptions" [value]="job">
                {{ job }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Time </mat-label>
            <mat-select formControlName="teamId" matNativeControl required>
              <mat-option *ngFor="let team of teams" [value]="team.id">
                {{ team.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Salario</mat-label>
            <input matInput formControlName="salary" name="salary" />
          </mat-form-field>
        </div>

        <button
          [disabled]="addUserForm.invalid"
          mat-flat-button
          color="accent"
          class="w-100"
          (click)="addUser()"
        >
          Adicionar
        </button>

        <p class="" *ngIf="createSucess">Usuário inserido com sucesso!</p>
      </form>
    </mat-card-content>
  </mat-card>
</div>
