<div>
  <mat-card class="w-100">
    <mat-card-header class="d-flex justify-content-around mb-3">
      <mat-card-title> Editar Usuário </mat-card-title>
      <button mat-flat-button color="accent" [mat-dialog-close]>Fechar</button>
    </mat-card-header>
    <mat-card-content class="d-flex">
      <p>Dados Pessoais:</p>
      <form [formGroup]="editUserForm" class="">
        <div class="d-flex mr-6">
          <mat-form-field appearance="outline">
            <mat-label>Nome</mat-label>
            <input matInput formControlName="name" name="name" />
            <mat-error>
              {{editUserForm.controls['name'].errors?.['required'] && getErrorMessage('required')}}
              {{editUserForm.controls['name'].errors?.['minLenght'] &&  getErrorMessage('minLenght') }}
              {{editUserForm.controls['name'].errors?.['maxLenght'] &&  getErrorMessage('maxLenght') }}
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>E-mail</mat-label>
            <input matInput formControlName="email" name="email" />
            <mat-error>
              {{editUserForm.controls['email'].errors?.['required'] && getErrorMessage('required')}}
              {{editUserForm.controls['email'].errors?.['email'] &&  getErrorMessage('email') }}
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Senha</mat-label>
            <input matInput formControlName="password" name="password" />
            <mat-error>
              {{editUserForm.controls['password'].errors?.['required'] && getErrorMessage('required')}}
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Tipo: </mat-label>
            <mat-select formControlName="type" matNativeControl required>
              <mat-option *ngFor="let type of userTypes" [value]="type">
                {{ type }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Time </mat-label>
            <mat-select formControlName="teamId" matNativeControl required>
              <mat-option *ngFor="let team of teams" [value]="team.id">
                {{ team.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="d-flex mx-6">
          <mat-form-field appearance="outline">
            <mat-label>Cargo: </mat-label>
            <mat-select formControlName="job" matNativeControl required>
              <mat-option *ngFor="let job of jobOptions" [value]="job">
                {{ job }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Salario</mat-label>
            <input matInput formControlName="salary" name="salary" />
          </mat-form-field>
        </div>

        <button
          [disabled]="editUserForm.invalid"
          *ngIf="editUser"
          mat-flat-button
          color="accent"
          class="w-100"
          (click)="editUser()"
        >
          Editar
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
