<div class="h-100 bg-primary d-flex justify-content-center align-items-center">
  <mat-card class="w-50">
    <mat-card-header class="d-flex justify-content-center mb-3">
      <mat-card-title> Login </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="loginForm" class="d-flex flex-column">
        <mat-form-field appearance="outline">
          <mat-label>E-mail</mat-label>
          <input matInput formControlName="email" name="email" />

          <mat-error
            >{{loginForm.controls['email'].errors?.['email'] ? 'Insira um formato de email válido' : loginForm.controls['email'].errors?.['required'] ? 'Campo Obrigatório' : '' }}</mat-error
          >
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Senha</mat-label>
          <input matInput formControlName="password" name="password" />
          <mat-error>
            {{loginForm.controls['password'].errors?.['required'] ? 'Campo Obrigatório!' : ''}}
          </mat-error>
        </mat-form-field>
        <button
          disabled="!loginForm.invalid"
          mat-flat-button
          color="primary"
          class="w-100"
          (click)="userLogin()"
        >
          Entrar
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
